{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="LAB-5">
	<meta name="author" content="{{author}}">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab_5.css' %}" />
	<!-- bootstrap csss -->
	
	<title>
		{% block title %}Lab 5 By {{author}} {% endblock %}
	</title>
</head>

<body>
	<header>
		{% include "lab_5/partials/header.html" %}
	</header>
	<content>
		{% block content %}
			<!-- content goes here -->
		{% endblock %}
	</content>
	<footer>
		<!-- TODO Block Footer and include footer.html -->
		{% block footer %}
		{% include "lab_5/partials/footer.html" %}
		{% endblock %}
	</footer>
	
	<!-- Jquery n Bootstrap Script -->
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type= "application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="application/javasript">
		$(function() {
			$('a[href*="#"]:not([href="#"])').click(function(){
				if(location.pathname.replace(/^\//,'')==this.pathname.replace(/^\//,'') && location.hostname=this.hostname){
					var target = $(this.hash);
					target = target.length ? target : $('[name='+this.hash.slice(1)+']');
					if(target.length){
						$('html, body').animate({
							scrollTop:target.offset().top-55
						}, 1000);
						return false;
					}
				}
			});
		});
		</script>
	</body>
	</html>