*{
  font-family: 'Roboto', sans-serif;
}

.mainContainer{
  width: 100%;
  height: 100vh;
  background-color: white;
  background-repeat: repeat-x;
  background-size: cover;
  padding: 50px 0;
}

.secondContainer{
  height: 100%;
  background-color: #000000ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logWraper{
  display: none;
  text-align: center;
  color: white;
  padding: 20px 20px 30px 20px;
}

.logWraper p{
  font-size: 70px;
  font-weight: bold;
}

#login{
  border: none;
  background-color: #3b5998;
  color: white;
  border-radius: 4px;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

#login:hover{
  background-color: #25375d;
}

.profile{
  background-color: black;
  text-align: center;
  padding: 20px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.keluar{
  text-align: right;
  padding-right: 20px;
}

.picture{
  width: 20%;
  border: 2px solid white;
  border-radius: 50%;
}


.data{
  background-color: #000000c4;
  color: white;
  width: 100%;
  padding: 0 10px 10px;
}

.wraper1{
  text-align: center;
  padding: 20px;
}

.wraper2{
  display: block;
  margin: auto;
  width: 50%;
  text-align: right;
}

.postStatus{
  background-color: #0061ff;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

.postStatus:hover{
  background-color: #0341a5;
}

#postInput{
  width: 100%;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 5px;
}

.wraper4{
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.wraper4 h1{
  font-size: 25px;
}

.wraper4 h2{
  font-size: 20px;
}

.feed{
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
  margin: 10px 0;
  text-align: center;
  padding: 0px 8px 5px;
  border: 1px solid #d6d6d6;
  background-color: white;
}

.feed h5{
  color: gray;
}

.feed:hover{
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.logoutImage{
  cursor: pointer;
  border-radius: 50%;
  filter: grayscale(30%);
}
.logoutImage:hover{
  filter: grayscale(0%);
  box-shadow: 0 0 20px 5px red;
}

.delPost{
  border: none;
  margin: 5px 0;
  background-color: #e45;
  color: white;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.delPost:hover{
  background-color: #9e2c37;
}

@media only screen and (max-width: 768px) {
  .picture{
    width: 50%;
  }
  .wraper2{
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .wraper2{
    width: 100%;
  }
}
