{% extends "lab_9/layout/base.html" %}

{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
</div>
{% endblock %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$('#tombol').attr("href", url1);
			$('#tombol').fadeIn();
		});
	</script>
{% endblock %}
